* {
    direction: rtl;
    text-align: right;
}

.slick-list {
    direction: ltr;
}

.main_menu .navbar-nav.ms-auto {
    margin-right: auto;
    margin-left: 0 !important;
}

.main_menu ul li:last-child a span {
    right: auto;
    left: -16px;
}

.main_menu ul li:last-child a {
    margin-left: 8px;
}

.main_menu .navbar-brand {
    margin-right: 0;
}

.main_menu .dropdown {
    right: 0;
    left: auto;
}

.wsus__heading_area h2 {
    text-align: center;
}

.wsus__heading_area p {
    margin-left: auto;
    margin-right: 15%;
    text-align: center;
}

.wsus__single_process span::after {
    left: auto;
    right: 100%;
}

.wsus__about .wsus__heading_area h2 {
    text-align: right;
}

.wsus__about_text ul li .icon {
    margin-right: 0;
    margin-left: 20px;
}

.wsus__heading_area h5 i {
    margin-right: 0;
    margin-left: 5px;
}

.home_2 .wsus__single_services {
    text-align: right;
}

.wsus__info_text h2 {
    text-align: center;
}

.wsus__info_text_2 p {
    margin-left: 0 !important;
    margin-right: 20% !important;
    text-align: center;
}

.wsus__info_center h4 {
    text-align: center;
}

.wsus__pricing_header h3 {
    text-align: center;
}

.wsus__pricing_body ul li {
    text-align: center;
}

.wsus__pricing_body {
    text-align: center;
}

.wsus__info_text h5 {
    text-align: center;
}

.wsus__blog_header li {
    border-right: 0;
    border-left: 2px solid #9BB70D;
}

.wsus__404_text p {
    text-align: center;
}

.wsus__breadcrumb ul li a {
    padding-left: 30px !important;
}

.wsus__breadcrumb ul li a::after {
    left: auto;
    right: -20px;
}

.wsus__testimonial_img {
    margin-right: 0;
    margin-left: 20px;
}

.wsus__info_text p {
    margin: 15px 15% 22px 0;
}

.banner_btn li a {
    margin-right: 0;
    margin-left: 40px;
}

.sidebar_item h3 {
    padding-left: 0;
    padding-right: 15px;
}

.sidebar_item h3::after {
    left: auto;
    right: 0;
}

.wsus__blog_serch form button {
    right: auto;
    left: 0;
}

.wss__sedebar_blog_item li img {
    margin-right: 0;
    margin-left: 20px;
}

.wss__sedebar_blog_item .text p i {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__single_input span {
    left: 20px;
    right: auto;
}

.wsus__blog_tags ul li a {
    margin-left: 6px;
    margin-right: 0;
}

.wsus__blog_det_text .top_icon li i {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__blog_det_text .top_icon li {
    margin-right: 0;
    margin-left: 25px;
}

.wsus__blog_det_quot {
    padding: 30px 90px 30px 30px;
}

.wsus__blog_det_quot span {
    left: auto;
    right: 35px;
}

.wsus__blog_det_share_icon ul li a {
    margin-left: 0;
    margin-right: 15px;
}

.wsus__single_comment .text h4 a {
    margin-left: 0px;
    margin-right: 15px;
}

.wsus__pagination .page-link i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.wsus__blog_det_share_tag ul li {
    margin-left: 0;
    margin-right: 10px;
}

.wsus__single_comment .text h5 span {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__blog_list_img p {
    right: auto;
    left: 20px;
}

.wsus__blog_list_text .icon_area li::after {
    right: auto;
    left: -15px;
}

.wsus__blog_list_text .icon_area li {
    margin-right: 0;
    margin-left: 30px;
}

.wsus__blog_list_text .icon_area li i {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__blog_list_text .button_area li:first-child a i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.wsus__cart_item .text {
    margin-left: 0;
    margin-right: 15px;
}

.wsus__cart_item .categories .img a {
    right: auto;
    left: -5px;
}

.cart_sedebar .form-check input {
    float: revert;
}

.cart_sedebar .form-check label {
    margin-right: 35px;
}

.form-check-input:checked[type=checkbox] {
    transform: rotateY(180deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: 15px;
}

.wsus__checkout_form .form-check input,
.wsus__login_form .form-check input {
    float: right;
}

.wsus__checkout_form .form-check label,
.wsus__login_form .form-check label {
    margin-right: 35px;
}

.wsus__checkout_form a span {
    transform: rotateY(180deg);
}

.wsus__check_sidebar .common_btn i {
    margin-left: 0;
    margin-right: 10px;
    transform: rotateY(180deg);
}

.wsus__contact_area button i {
    margin-left: 0;
    margin-right: 10px;
    transform: rotateY(180deg);
}

.wsus__faq .accordion-button {
    padding-left: 0;
    padding-right: 60px;
}

.wsus__faq .accordion-button::after {
    left: auto;
    right: 0;
}

.wsus__faq .accordion-body {
    margin-left: 0;
    padding-right: 100px;
}

.wsus__faq .accordion-body p {
    padding-left: 0;
    padding-right: 15px;
}

.wsus__faq .accordion-body p::after {
    left: auto;
    right: 0;
}

.wsus__gallery_item .wsus__gallery_text a i {
    margin-left: 0;
    margin-right: 25px;
    transform: rotateY(180deg);
}

.privacy_text ul li {
    padding-left: 0;
    padding-right: 35px;
}

.privacy_text ul li::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}

.wsus__pro_det_area .ratiing span {
    margin-right: 0;
    margin-left: 15px;
}

.share_area ul li a {
    margin-left: 15px;
    margin-right: 0;
}

.exzoom .exzoom_nav {
    left: auto;
    right: 15px;
}

.quentity_area ul li a {
    margin-right: 15px;
    margin-left: 0;
}

.exzoom .exzoom_preview {
    right: 100% !important;
}

.wsus__review_text {
    padding-left: 0;
    padding-right: 30px;
}

.wsus__select_review p span {
    margin-right: 0;
    margin-left: 15px;
}

.wsus__product_topbar .select2-container--default .select2-selection--single {
    border-left: 0;
    border-right: 1px solid #E0E0E0;
}

.wsus__product_topbar p {
    padding-left: 0;
    padding-right: 15px;
}

.product_color .form-check label {
    display: inline-block;
    margin-right: 30px;
}

.product_color .form-check input {
    float: right;
}

.wsus__schedule table tr th,
.wsus__schedule table tr td {
    border-right: 0;
    border-left: 1px solid #4F4C4C;
}

.wsus__service_search button {
    right: auto;
    left: 0;
    text-align: center;
    border-left: 0;
    border-right: 1px solid #fff;
}

.wsus__service_det_menu ul li a::after {
    right: auto;
    left: 15px;
    transform: translateY(-50%) rotateY(180deg);
}

.wsus__service_det_call .call_icon {
    margin-right: 0;
    margin-left: 15px;
    transform: rotateY(180deg);
}

.wsus__next_prev_service ul li {
    border-right: 0;
    border-left: 1px solid #fff;
}

.wsus__service_det_text ul li {
    padding-left: 0;
    padding-right: 30px;
}

.wsus__service_det_text ul li::after {
    left: auto;
    right: 0;
    transform: translateY(-50%) rotateY(180deg);
}

.wsus__prev_service::after,
.wsus__next_service::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}

.wsus__next_service {
    padding-right: 0;
    padding-left: 50px;
}

.wsus__next_service::after {
    right: auto !important;
    left: 20px !important;
}

.wsus__next_service span,
.wsus__next_service p {
    text-align: left;
}

.wsus__signin ul li button {
    text-align: center;
}

.wsus__login_form form .common_btn i {
    margin-left: 0;
    margin-right: 5px;
    transform: rotateY(180deg);
}

.wsus__login_form .wsus__single_input span {
    right: auto;
    left: 20px;
}

.wsus__blog_det_img .rating span {
    margin-left: 0;
    margin-right: 5px;
}

.wsus__blog_det_text ul li {
    padding-left: 0;
    padding-right: 35px;
}

.wsus__blog_det_text ul li::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
}

.wsus__blog_det_share_tag ul li {
    padding-right: 0 !important;
}

.wsus__blog_det_share_icon ul li {
    padding-right: 0 !important;
}

.wsus_courses_img ul {
    left: auto;
    right: 20px;
}

.wsus_courses_text .rating span {
    margin-left: 0;
    margin-right: 5px;
}

.wsus__banner {
    background-position: left !important;
}

.banner_btn .venobox span {
    margin-right: 0;
    margin-left: 20px;
}

.banner_btn .venobox span i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.scroll_btn {
    left: auto;
    right: -80px;
    padding-left: 20px;
}

.scroll_btn p {
    margin-left: 10px;
}

.wsus__single_agents_link ul li a {
    margin-right: 0;
    margin-left: 10px;
}


.wsus__404_text h4 {
    text-align: center;
}

.cart_sedebar .accordion-header .form-check label {
    margin-right: 60px;
}

.wsus_other_payment ul li {
    padding-left: 0;
    padding-right: 20px;
}

.wsus_other_payment ul li::after {
    left: auto;
    right: 0;
}

@media (min-width: 992px) and (max-width: 1199.99px) {
    .wsus__heading_area p {
        margin-right: 0;
    }

    .wsus__about_text ul li .text {
        width: 78%;
    }
}


@media (min-width: 768px) and (max-width: 991.99px) {
    .main_menu .navbar-toggler {
        margin-right: 0;
        margin-left: 10px;
        text-align: center;
    }

    .main_menu .navbar-brand {
        margin-right: 10px !important;
        margin-left: 0;
    }

    .banner_btn li a {
        margin-left: 0;
    }

    .wsus__heading_area p {
        margin-right: 0;
    }

    .wsus__about .wsus__heading_area p {
        text-align: right;
    }

    .wsus__about_text ul li .text {
        width: 75%;
    }

    .main_menu ul li:hover .dropdown {
        transform: scale(1) translateX(-29%);
    }

    .wsus__faq .accordion-body {
        padding-right: 60px;
    }
}


@media (min-width: 576px) and (max-width: 767.99px) {
    .main_menu .navbar-toggler {
        margin-right: 0;
        margin-left: 10px;
        text-align: center;
    }

    .main_menu .navbar-brand {
        margin-right: 10px !important;
        margin-left: 0;
    }

    .banner_btn li a {
        margin-left: 0;
    }

    .wsus__banner_text h1,
    .wsus__banner_text h5,
    .wsus__banner_text p {
        text-align: center;
    }

    .wsus__heading_area p {
        margin-right: 0;
    }

    .wsus__about .wsus__heading_area p {
        text-align: right;
    }

    .wsus__about_text ul li .text {
        width: 84%;
    }

    .wsus__info_text_2 p {
        margin: 15px 0 22px 0 !important;
    }

    .main_menu ul li:hover .dropdown {
        transform: scale(1) translateX(30%);
    }

    .wsus__faq .accordion-body {
        padding-right: 0;
    }

    .wsus__schedule table {
        width: 520px;
    }
}


@media (max-width: 575.99px) {
    .main_menu .navbar-toggler {
        margin-right: 0;
        margin-left: 10px;
        text-align: center;
    }

    .main_menu .navbar-brand {
        margin-right: 10px !important;
        margin-left: 0;
    }

    .banner_btn li a {
        margin-left: 0;
    }

    .wsus__banner_text h1,
    .wsus__banner_text h5,
    .wsus__banner_text p {
        text-align: center;
    }

    .wsus__heading_area p {
        margin-right: 0;
    }

    .wsus__about .wsus__heading_area p {
        text-align: right;
    }

    .wsus__about_text ul li .text {
        width: 72%;
    }

    .wsus__info_text_2 p {
        margin: 15px 0 22px 0 !important;
    }

    .main_menu ul li:hover .dropdown {
        transform: scale(1) translateX(30%);
    }

    .wsus__404_text h4 {
        text-align: center;
    }

    .wsus__blog_det_quot {
        padding: 20px 40px 20px 20px;
    }

    .wsus__blog_det_quot span {
        right: 10px;
    }

    .wsus__blog_det_share_tag ul li {
        margin-right: 8px;
    }

    .wsus__review_text {
        padding-right: 0;
    }

    .wsus__faq .accordion-body {
        padding-right: 0;
    }
}