@font-face {
	font-family: Helvetica;
	src: url(font/Helvetica.ttf)
}

* {
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

p,
span {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	color: #EFEFEF;
}

body {
	background: #000;
	font-family: Helvetica;
	color: #fff;
	overflow-x: hidden;
}

img {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
}

input,
textarea {
	width: 100%;
	padding: 20px;
	border: none;
	border-radius: 5px;
	outline: none;
	resize: none;
}

input::placeholder,
textarea::placeholder {
	color: #d6d6d7;
	opacity: .5;
}

button {
	border: none;
}

/* ========COMMON CSS START========= */
.common_btn {
	background: #9BB70D;
	padding: 20px 40px;
	font-size: 18px;
	text-transform: capitalize;
	color: #fff;
	font-weight: 700;
	border-radius: 5px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.common_btn:hover {
	background: #748b03;
	color: #fff;
}

.wsus__heading_area h5 {
	font-size: 24px;
	font-weight: 400;
	color: #9BB70D;
}

.wsus__heading_area h5 i {
	margin-right: 5px;
	color: #fff;
	transform: rotate(-45deg);
}

.wsus__heading_area h2 {
	text-transform: capitalize;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
}

.wsus__heading_area p {
	font-size: 18px;
	color: #fff;
	width: 70%;
	margin-left: 15%;
}

/* ========COMMON CSS END========== */




/* ==============================
	HOME PAGE 1 START
============================== */
/* =========MENU START======= */
.main_menu {
	width: 100%;
	height: 65px;
	padding: 0;
	z-index: 9999;
}

.main_menu .border_area {
	position: relative;
}

.main_menu .border_area::after {
	position: absolute;
	content: "";
	width: 98%;
	height: 1px;
	background: rgba(255, 255, 255, 0.1);
	;
	bottom: 0;
	left: 1%;
}

.main_menu ul {
	align-items: center;
}

.main_menu ul li a {
	text-transform: capitalize;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 0 !important;
	margin-left: 45px;
	position: relative;
	line-height: 65px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.main_menu ul li a::after {
	position: absolute;
	content: "";
	background: #9BB70D;
	width: 100%;
	height: 3px;
	bottom: 1px;
	left: 0;
	transform: scaleX(.2);
	opacity: 0;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.main_menu ul li:last-child a {
	background: #000;
	padding: 15px 25px !important;
	border-radius: 5px;
	line-height: 15px;
}

.main_menu ul li:last-child a::after {
	display: none;
}

.main_menu ul li a:hover,
.main_menu ul li .active {
	color: #9BB70D;
}

.main_menu ul li a:hover::after,
.main_menu ul li .active::after {
	transform: scaleX(1);
	opacity: 1;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
}

.menu_fix {
	position: fixed !important;
	left: 0px;
	top: 0 !important;
	z-index: 9999;
	animation: menu_animate 1s ease-in-out;
	-webkit-animation: menu_animate 1s ease-in-out;
	background: #000;
}

@keyframes menu_animate {
	from {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
	}

	to {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
	}
}

.menu_fix ul li:last-child a {
	background: #9BB70D;
	color: #fff !important;
}


.home_1 .main_menu,
.home_2 .main_menu {
	position: fixed;
	top: 40px;
	left: 0;
}


/* =========MENU END======== */


/* ========BANNER START========== */
.wsus__banner {
	background-position: right !important;
	background-repeat: no-repeat !important;
}

.wsus__banner_text_area {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.wsus__banner_text {
	margin-top: 245px;
}

.wsus__banner_text h5 {
	color: #9BB70D;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 400;
}

.wsus__banner_text h5 i {
	transform: rotate(-45deg);
}

.wsus__banner_text h1 {
	color: #fff;
	font-size: 72px;
	font-weight: bold;
	text-transform: capitalize;
}

.wsus__banner_text p {
	color: #fff;
	width: 80%;
	margin: 30px 0px 35px 0px;
	font-size: 18px;
}

.banner_btn li a {
	margin-right: 40px;
}

.banner_btn .venobox {
	display: flex;
	align-items: center;
	text-transform: capitalize;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.banner_btn .venobox span {
	width: 60px;
	height: 60px;
	display: block;
	background: #fff;
	color: #9BB70D;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	position: relative;
	margin-right: 20px;
}

.banner_btn .venobox span::after {
	position: absolute;
	content: "";
	background: linear-gradient(0deg, #161C28 14.7%, rgba(22, 28, 40, 0) 62.33%);
	transform: rotate(180deg);
	width: 130%;
	height: 130%;
	top: -15%;
	left: -15%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	z-index: -1;
}

.wsus__banner_img {
	width: 100%;
	height: 730px;
	overflow: hidden;
	padding-right: 25px;
	margin-top: 160px;
}

.scroll_btn {
	font-size: 13px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	transform: rotate(-90deg);
	cursor: pointer;
	position: absolute;
	bottom: 70px;
	left: -67px;
}

.scroll_btn p {
	border: 1px solid #9BB70D;
	width: 70px;
	height: 17px;
	border-radius: 30px;
	line-height: 11px;
	padding: 0px 10px;
	margin-right: 10px;
	position: relative;
}

.scroll_btn p span {
	color: #9BB70D;
	animation: scroll_animi 4s ease-in-out infinite alternate;
	-webkit-animation: scroll_animi 4s ease-in-out infinite alternate;
	position: absolute;
	top: 0;
	left: 5px;
}

@keyframes scroll_animi {
	0% {
		left: 5px;
	}

	100% {
		left: 50px;
	}
}

/* ========BANNER END========= */


/* ======== ABOUT START========= */
.wsus__about_img {
	position: relative;
	height: 550px;
	border-radius: 10px;
	overflow: hidden;
}

.wsus__about_img a {
	position: absolute;
	left: 68%;
	top: 135px;
	transform: translateX(-60%);
	z-index: 10;
}

.wsus__about_img .about_play_2 {
	position: absolute;
	left: 30%;
	top: auto;
	bottom: 140px;
	transform: translateX(-30%);
}

.wsus__about_img a span {
	width: 60px;
	height: 60px;
	display: block;
	background: #9BB70DB0;
	color: #fff;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	position: relative;
}

.about_play_2 span {
	background: #ffffff8f !important;
	color: #9BB70D !important;
}

.wsus__about_text ul li {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.wsus__about_text ul li .icon {
	width: 80px;
	height: 80px;
	line-height: 80px;
	background: #fff;
	text-align: center;
	border-radius: 50%;
	color: #9BB70D;
	margin-right: 20px;
	font-size: 40px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__about_text ul li .text h4 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.wsus__about_text ul li .text p {
	color: #EFEFEF;
}

.wsus__about .wsus__heading_area p {
	margin: 25px 0px 30px 0px;
	width: 100%;
}

.wsus__about_text ul li:hover .icon {
	background: #9BB70D;
	color: #fff;
}

.wsus__about_text ul li:nth-child(2) .icon {
	transform: rotate(-45deg);
	font-size: 35px;
}

.wsus__about_img img {
	width: 350px !important;
	height: 350px !important;
	border-radius: 10px;
	margin-left: auto;
}

.wsus__about_img .about_1 {
	position: absolute;
	top: 0;
	right: 0;
}

.wsus__about_img .about_2 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.wsus__about_img .about_3 {
	position: absolute;
	width: 94% !important;
	height: 94% !important;
	top: 3%;
	left: 3%;
}

/* =======ABOUT END======= */


/* =========SERVICES START========= */
.wsus__single_services {
	border: 2px solid #9BB70D;
	border-radius: 10px;
	text-align: center;
	padding: 50px 50px 60px 50px;
	margin-top: 25px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__single_services span {
	color: #9BB70D;
	font-size: 50px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__single_services h4 {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	margin: 15px 0px 20px 0px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__single_services p {
	color: #EFEFEF;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__single_services:hover {
	background: #9BB70D;
}

.wsus__single_services:hover span,
.wsus__single_services:hover h4,
.wsus__single_services:hover p {
	color: #fff;
}

/* =========SERVICES END====== */



/* =========SERVICES DETAILS START====== */
.wsus__services_details {}

.wsus__service_det_sidebar {}

.wsus__service_det_sidebar {}

.wsus__service_search {
	background: #9BB70D;
	position: relative;
}

.wsus__service_search input {
	background: none;
	border-radius: 0;
	color: #fff;
}

.wsus__service_search input::placeholder {
	color: #ffffffd1;
	opacity: 1;
}

.wsus__service_search button {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	color: #fff;
	width: 60px;
	height: 100%;
	border-left: 1px solid #fff;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__service_search button:hover {
	background: #fff;
	color: #9BB70D;
}

.wsus__service_det_menu {
	background: #1D2027;
	margin-top: 25px;
}

.wsus__service_det_menu ul {}

.wsus__service_det_menu ul li {}

.wsus__service_det_menu ul li a {
	width: 100%;
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	padding: 15px;
	position: relative;
}

.wsus__service_det_menu ul li a:hover {
	background: #222731;
}

.wsus__service_det_menu ul li a::after {
	content: "\f054" !important;
	color: #fff !important;
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 14px;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}

.wsus__service_det_call {
	background: #9BB70D;
	display: flex;
	margin-top: 25px;
	padding: 15px 0px;
	align-items: center;
}

.wsus__service_det_call .call_icon {
	width: 60px;
	height: 60px;
	border-right: 1px solid #cdcdcd;
	line-height: 56px;
	text-align: center;
	font-size: 30px;
	margin-right: 15px;
}

.wsus__service_det_call .call_text p {
	text-transform: capitalize;
	margin-bottom: 5px;
}

.wsus__service_det_call .call_text a {
	color: #fff;
	font-weight: 600;
}

.wsus__service_det_area {}

.wsus__service_det_text {}

.wsus__service_det_text h4 {
	font-size: 25px;
	font-weight: 600;
	margin-top: 30px;
}

.wsus__service_det_text p {
	margin-top: 15px;
}

.wsus__service_det_text ul {
	margin-bottom: 10px;
}

.wsus__service_det_text ul li {
	padding-left: 30px;
	margin-top: 15px;
	position: relative;
}

.wsus__service_det_text ul li::after {
	content: "\f00c" !important;
	color: #fff !important;
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}


.wsus__service_det_center_img {
	height: 240px;
	margin-top: 25px;
}

.wsus__next_prev_service {
	border: 1px solid #F7F7F7;
	background: #9BB70D;
	border-radius: 10px;
	margin-top: 35px;
}

.wsus__next_prev_service ul {
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wsus__next_prev_service ul li {
	padding: 0;
	margin: 0;
	border-right: 1px solid #fff;
	width: 50%;
	position: static;
}

.wsus__next_prev_service ul li::after {
	display: none;
}

.wsus__next_prev_service ul li:last-child {
	border: 0;
}

.wsus__prev_service,
.wsus__next_service {
	display: block;
	padding: 30px;
	position: relative;
}

.wsus__prev_service span,
.wsus__next_service span {
	width: 100%;
	display: block;
	text-transform: capitalize;
	font-size: 16px;
}

.wsus__prev_service p,
.wsus__next_service p {
	font-size: 18px;
	font-weight: 700;
	margin-top: 10px;
}

.wsus__next_service span,
.wsus__next_service p {
	text-align: right;
}

.wsus__prev_service {
	padding-left: 50px;
}

.wsus__prev_service::after,
.wsus__next_service::after {
	content: "\f060" !important;
	color: #fff !important;
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 20px;
	position: absolute;
	top: 28px;
	left: 20px;
}

.wsus__next_service {
	padding-right: 50px;
}

.wsus__next_service::after {
	content: "\f061" !important;
	right: 20px;
	left: auto;
}

/* =========SERVICES DETAILS END====== */




/* =======COUNTER START========= */
.wsus__count_progress {
	margin-top: 25px;
}

.wsus__count_progress h4 {
	position: relative;
	z-index: 1;
	color: #E5E5E5;
	font-size: 20px;
	font-weight: 700;
}

.wsus__count_progress .counter {
	position: relative;
	z-index: 1;
	font-size: 20px;
	font-weight: 600;
}

/* ======COUNTER END========= */


/* =======GALLERY START======== */
.wsus__gallery_item .gallery_img {
	margin-top: 25px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.wsus__gallery_item .wsus__gallery_img_1 {
	height: 330px;
}

.wsus__gallery_item .wsus__gallery_img_2 {
	height: 650px;
}

.wsus__gallery_item .wsus__gallery_img_3 {
	height: 490px;
}

.wsus__gallery_item .wsus__gallery_text {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(155, 183, 13, 0.74);
	top: 0;
	left: 0;
	border-radius: 10px;
	padding: 60px 50px;
	transform: scale(.8);
	opacity: 0;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.wsus__gallery_item .wsus__gallery_text h4 {
	font-size: 24px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0;
}

.wsus__gallery_item .wsus__gallery_text h6 {
	font-size: 16px;
	font-weight: 700;
	text-transform: capitalize;
	opacity: 0.6;
	margin: 20px 0px;
}

.wsus__gallery_item .wsus__gallery_text p {
	color: #EFEFEF;
}

.wsus__gallery_item .wsus__gallery_text a {
	color: #fff;
	text-transform: capitalize;
	font-size: 16px;
	margin-top: 20px;
}

.wsus__gallery_item .wsus__gallery_text a i {
	margin-left: 25px;
}

.gallery_img:hover .wsus__gallery_text {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

/* =========GALLERY END====== */


/* ========PRICING START======== */
.wsus__single_pricing {
	border: 2px solid #9BB70D;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	margin-top: 25px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__pricing_header {
	padding: 50px 0px 20px 0px;
	border-bottom: 4px solid #D6D6D7;
}

.wsus__pricing_header h3 {
	text-transform: capitalize;
	font-size: 24px;
	margin-bottom: 25px;
}

.wsus__pricing_header h2 {
	font-size: 60px;
	font-weight: 700;
	position: relative;
	display: inline-block;
}

.wsus__pricing_header h2 span {
	position: absolute;
	font-size: 20px;
	font-weight: 900;
	top: 13px;
	left: -15px;
}

.wsus__pricing_body {
	padding: 37px 0px 55px 0px;
}

.wsus__pricing_body ul {
	min-height: 282px;
}

.wsus__pricing_body ul li {
	margin-bottom: 20px;
	font-size: 16px;
	color: #D6D6D7;
}

.wsus__pricing_body a {
	padding: 15px 60px;
	border: 1px solid #9BB70D;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
	color: #9BB70D;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__pricing_body a:hover {
	background: #fff;
	border-color: #fff;
}


.wsus__single_pricing:hover {
	background: #9BB70D;
}

.wsus__single_pricing:hover a {
	background: #fff;
	border-color: #fff;
}

/* ======PRICING END========== */


/* ========TESTIMONIAL START======= */
.wsus__testimonial_item {
	margin: 25px 12px 0px 12px;
}

.wsus__testimonial_text {
	background: #222224;
	padding: 30px 40px;
	border-radius: 10px;
	position: relative;
}

.wsus__testimonial_text p {
	color: #D6D6D7;
	font-size: 18px;
}

.wsus__testimonial_text .left_icon {
	position: absolute;
	top: 20px;
	left: 15px;
	color: #9BB70D;
}

.wsus__testimonial_text .right_icon {
	color: #9BB70D;
	position: absolute;
	bottom: 20px;
	right: 15px;
}

.wsus__testimonial_img_area {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 40px;
}

.wsus__testimonial_img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin-right: 20px;
}

.wsus__testimonial_title h3 {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 700;
}

.wsus__testimonial_title p {
	font-size: 14px;
	color: #C9CACD;
}

.wsus__information .slick-dots,
.home_2 .wsus__services .slick-dots,
.wsus__banner_slider_area .slick-dots,
.wsus__testimonial .slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	z-index: 99;
	position: relative;
}

.wsus__information .slick-dots li button,
.home_2 .wsus__services .slick-dots li button,
.wsus__banner_slider_area .slick-dots li button,
.wsus__testimonial .slick-dots li button {
	font-size: 0;
	width: 30px;
	height: 7px;
	border: 1px solid #9BB70D;
	background: none;
	margin: 0px 5px;
	border-radius: 3px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__information .slick-dots .slick-active button,
.home_2 .wsus__services .slick-dots .slick-active button,
.wsus__banner_slider_area .slick-dots .slick-active button,
.wsus__testimonial .slick-dots .slick-active button {
	background: #9BB70D;
}

/* ========TESTIMONIAL END====== */


/* ========GENT START========= */
.wsus__single_agents {
	background: #222224;
	padding: 15px;
	margin-top: 25px;
}

.wsus__single_agents_img {
	height: 250px;
}

.wsus__single_agents_text .title {
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	margin-top: 17px;
	margin-bottom: 5px;
	color: #fff;
}

.wsus__single_agents_text span {
	font-size: 16px;
	text-transform: capitalize;
	color: #D6D6D7;
	display: block;
	margin-bottom: 15px;
}

.wsus__single_agents_text p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: #D6D6D7;
}

.wsus__single_agents_link {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.wsus__single_agents_link ul li a {
	color: #9BB70D;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	border-radius: 50%;
	font-size: 14px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__single_agents:hover .wsus__single_agents_link ul li a {
	background: #9BB70D;
	color: #fff;
}

.wsus__single_agents:hover ul.call_icon li a {
	color: #9BB70D;
	background: #fff;
}

.wsus__agents .common_btn {
	background: none;
	color: #9BB70D;
	border: 2px solid #9BB70D;
	border-radius: 0;
}

.wsus__agents .common_btn:hover {
	color: #fff;
	background: #9BB70D;
}

/* ========AGENT END======== */


/* ========INFORMATION START====== */
.wsus__information {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.wsus__information_overlay {
	background: rgba(0, 0, 0, 0.76);
	padding: 100px 0px 110px 0px;
}

.wsus__info_text h5 {
	color: #ECECEC;
	font-size: 16px;
	opacity: .6;
	margin-bottom: 10px;
}

.wsus__info_text h2 {
	font-size: 50px;
	font-weight: 700;
}

.wsus__info_text p {
	width: 70%;
	margin-left: 15%;
	margin-top: 15px;
	margin-bottom: 22px;
}

/* =======NFORMATION END======== */


/* ========BLOG START========= */
.wsus__single_blog {
	background: #222224;
	padding: 15px;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	margin-top: 25px;
}

.wsus__blog_img {
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
}

.wsus__blog_text {
	padding: 30px 12px 15px 12px;
}

.wsus__blog_header {
	background: #03030B;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.wsus__blog_header li {
	text-align: center;
	width: 50%;
	border-right: 2px solid #9BB70D;
	color: #D6D6D7;
	font-size: 14px;
}

.wsus__blog_header li:last-child {
	border: 0;
}

.wsus__blog_text a {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
	margin: 20px 0px 20px 0px;
}

.wsus__blog_text a:hover {
	color: #9BB70D;
}

.wsus__blog_text p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	color: #D6D6D7;
	width: 90%;
	margin: 0 auto;
}

/* ========BLOG END========= */



/* ======= FAQ START======== */

.wsus__faq .accordion-item {
	border: 0;
	background: none;
	border-bottom: 1px solid #FFFFFF17;
	border-radius: 0;
}

.wsus__faq .accordion-button {
	background: none;
	text-transform: capitalize;
	font-size: 24px;
	padding-left: 60px;
	color: #A9A9B3;
}

.wsus__faq .accordion-button::after {
	position: absolute;
	content: "+";
	left: 0;
	top: 16px;
	width: 30px;
	height: 30px;
	line-height: 26px;
	background: #fff;
	opacity: 1;
	color: #9BB70D;
	text-align: center;
	border-radius: 50%;
}

.accordion-button:not(.collapsed)::after {
	content: "\f068" !important;
	transform: rotate(0);
	background: #9BB70D !important;
	color: #fff !important;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 14px;
	line-height: 31px;
}

.wsus__faq .accordion-button:focus {
	box-shadow: none;
}

.wsus__faq .accordion-button:not(.collapsed) {
	box-shadow: none;
	background: none;
	color: #fff;
}

.wsus__faq .accordion-body {
	margin-left: 100px;
	border-left: #9BB70D;
	margin-bottom: 15px;
}

.wsus__faq .accordion-body p {
	position: relative;
	padding-left: 15px;
	color: #D6D6D7;
}

.wsus__faq .accordion-body p::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 95%;
	background: #9BB70D;
	top: 5%;
	left: 0;
}

/* ========FAQ END========= */



/* ========FOOTER START======= */
footer {
	background: #9BB70D;
	position: relative;
}

.wsus__footer_content .footer_logo {
	width: 170px;
	margin: 0px 0px 5px 0px;
}

.wsus__footer_content p,
.wsus__footer_content a {
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
}

.wsus__footer_content p i,
.wsus__footer_content a i {
	width: 25px;
}

.wsus__footer_content h3 {
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 18px;
}

.wsus__footer_content ul li a {
	text-transform: capitalize;
	font-size: 16px;
}

.wsus__footer_content span {
	color: #fff;
	text-transform: capitalize;
	display: block;
	margin-top: 38px;
}

.wsus__footer_content form input {
	margin: 15px 0px 25px 0px;
}

.wsus__footer_content form button {
	background: #fff;
	color: #9BB70D;
}

footer::after {
	position: absolute;
	content: "";
	background: url(../images/footer_shapes.png);
	width: 160px;
	height: 135px;
	top: 10px;
	right: 0;
}

footer::before {
	position: absolute;
	content: "";
	background: url(../images/footer_shapes.png);
	width: 160px;
	height: 137px;
	bottom: 10px;
	left: 10px;
}

/* =================================
    HOME PAGE 1 END
================================= */



/* =================================
    HOME PAGE 2 START
================================= */
.home_2 .main_menu ul li:last-child a {
	background: #9BB70D;
	color: #fff;
}

.home_2 .main_menu ul li:last-child a:hover {
	background: #748b03;
	color: #fff;
}

.home_2 .wsus__banner {
	height: auto;
}

.home_2 .wsus__banner_img {
	height: 650px;
	margin-top: 100px;
}


.wsus__information .slick-dots li button,
.home_2 .wsus__services .slick-dots li button,
.wsus__services .slick-dots li button,
.wsus__banner_slider_area .slick-dots li button {
	background: #9BB70D;
}

.wsus__information .slick-dots .slick-active button,
.home_2 .wsus__services .slick-dots .slick-active button,
.wsus__services .slick-dots .slick-active button,
.wsus__banner_slider_area .slick-dots .slick-active button {
	background: #fff;
	border-color: #fff;
}

.wsus__banner_slider_area .slick-dots {
	margin-top: 0px;
}

.home_2 .wsus__about_img {
	height: 550px;
}

.home_2 .wsus__about_img img {
	width: 100% !important;
	height: 100% !important;
}

.wsus__single_process {
	text-align: center;
	margin-top: 25px;
}

.wsus__single_process span {
	display: block;
	width: 190px;
	height: 190px;
	text-align: center;
	background: #9BB70D;
	line-height: 190px;
	font-size: 50px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 0 auto;
	position: relative;
}

.wsus__single_process p {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
}

.wsus__single_process span::after {
	position: absolute;
	content: "";
	width: 100%;
	border: 1px dashed #9BB70D;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
}

.wsus__single_process.last span::after {
	display: none;
}

.home_2 .wsus__single_services {
	text-align: left;
	padding: 50px 35px 57px 35px;
	margin: 25px 12px 0px 12px;
}

.home_2 .wsus__services .slick-dots {
	margin-top: 50px;
}

.wsus__video_area {
	margin-top: 25px;
	width: 100%;
	height: 450px;
	position: relative;
}

.wsus__video_area img {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.wsus__video_area::after {
	position: absolute;
	content: "";
	width: 110%;
	height: 100%;
	border: 2px dashed #9BB70D;
	top: 35px;
	left: -5%;
	border-radius: 10px;
	z-index: -1;
}

.wsus__video_area a span {
	width: 60px;
	height: 60px;
	display: block;
	color: #9BB70D;
	background: #fff;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wsus__single_training {
	height: 350px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	margin-top: 25px;
}

.wsus__training_text {
	position: absolute;
	width: 100%;
	padding: 15px;
	bottom: 0;
	left: 0;
	background: #00000050;
}

.wsus__training_text h4 {
	font-size: 24px;
	font-weight: 700;
	text-transform: capitalize;
}

.wsus__info_text_2 p {
	width: 60%;
	margin-left: 20%;
}

.wsus__info_text .icon {
	font-size: 50px;
	color: #9BB70D;
}

.wsus__info_center img {
	width: 100px !important;
	height: 100px !important;
	margin: auto;
	border-radius: 5px;
}

.wsus__info_center h4 {
	margin-top: 15px;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 700;
}

.wsus__info_center p {
	margin: 0 auto;
	margin-bottom: 5px;
}

.wsus__information .slick-dots {
	margin-top: 0 !important;
}


.footer_2 {
	background: #222224;
	position: static;
}

.footer_2 form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer_2 form input {
	background: #03030B30;
	width: 75%;
	margin: 0;
	color: #ffff;
}

.footer_2 form button {
	background: #9BB70D;
	color: #fff;
	padding: 18px 60px;
}

.footer_2 form input::placeholder {
	color: #A2A8B1;
}

.footer_2::after,
.footer_2::before {
	display: none;
}

.footer_2 .footer_link {
	padding-top: 40px;
}

.footer_2 .footer_link li a {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 31px;
	background: #D6D6D6;
	border-radius: 3px;
	margin: 0px 5px;
	color: #222224;
}

.wsus__copyright {
	border-top: 1px solid #6D6F73;
	padding: 35px 0px;
}

.wsus__copyright p {
	text-align: center;
	color: #6D6F73;
}

/* =================================
    HOME PAGE 2 END
================================= */



/* =================================
    BREADCRUMB START
================================= */
.wsus__breadcrumb {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.wsus__breadcrumb_overlay {
	background: rgba(3, 3, 11, 0.8);
	overflow: hidden;
	padding: 155px 0px 160px 0px;
}

.wsus__breadcrumb h1 {
	text-transform: capitalize;
	font-size: 50px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
}

.wsus__breadcrumb ul li a {
	text-transform: capitalize;
	font-size: 18px;
	color: #fff;
	padding-left: 30px;
	position: relative;
}

.wsus__breadcrumb ul li a::after {
	position: absolute;
	content: "";
	background: #fff;
	width: 10px;
	height: 2px;
	top: 50%;
	left: 10px;
}

.wsus__breadcrumb ul li:first-child a {
	padding-left: 0;
}

.wsus__breadcrumb ul li:first-child a::after {
	display: none;
}

.wsus__breadcrumb ul li:last-child a {
	color: #9BB70D;
}

.wsus__breadcrumb ul li:last-child a::after {
	background: #9BB70D;
}

/* =================================
    BREADCRUMB END
================================= */


/* =================================
    PAGINATION START
================================= */
.wsus__pagination .pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	justify-content: center;
}

.wsus__pagination .page-link {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 48px;
	padding: 0;
	border-radius: 0 !important;
	border: 3px solid #ddd;
	margin: 0px 5px !important;
	font-size: 16px;
	color: #000;
	font-weight: 700;
}


.wsus__pagination .page-link:hover,
.wsus__pagination .page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #9BB70D;
	border-color: #9BB70D;
}

.wsus__pagination .page-link:focus {
	z-index: 3;
	color: #0a58ca;
	background-color: #e9ecef;
	outline: 0;
	box-shadow: none;
}

/* =================================
    PAGINATION END
================================= */



/* =================================
    BLOG LIST START
================================= */
.wsus__blog_list {}

.wsus__blog_list_item {
	margin-bottom: 25px;
}

.wsus__blog_list_img {
	height: 450px;
	position: relative;
}

.wsus__blog_list_img p {
	position: absolute;
	background: #9BB70D;
	width: 70px;
	height: 70px;
	top: 20px;
	right: 20px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	text-transform: capitalize;
}

.wsus__blog_list_text {
	padding: 35px;
	background: #1D2027;
}

.wsus__blog_list_text .title {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.wsus__blog_list_text .icon_area {
	border-bottom: 1px solid #70707017;
	padding-bottom: 22px;
	margin-bottom: 17px;
	margin-top: 15px;
}

.wsus__blog_list_text .icon_area li {
	text-transform: capitalize;
	font-size: 14px;
	margin-right: 30px;
	position: relative;
}

.wsus__blog_list_text .icon_area li::after {
	position: absolute;
	content: "";
	background: #03030B;
	width: 1px;
	height: 90%;
	top: 5%;
	right: -15px;
}

.wsus__blog_list_text .icon_area li i {
	color: #9BB70D;
	margin-right: 5px;
}

.wsus__blog_list_text .icon_area li:last-child {
	padding: 0;
}

.wsus__blog_list_text .icon_area li:last-child:after {
	display: none;
}

.wsus__blog_list_text p {}

.wsus__blog_list_text .button_area {}

.wsus__blog_list_text .button_area li:first-child a {
	text-transform: uppercase;
	color: #9BB70D;
	font-size: 16px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__blog_list_text .button_area li:first-child a:hover {
	color: #fff;
}

.wsus__blog_list_text .button_area li:last-child a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #9BB70D;
	color: #fff;
	border-radius: 3px;
	margin-left: 5px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__blog_list_text .button_area li:last-child a:hover {
	background: #000;
}


.wsus__sidebar {}

.wsus__blog_serch {}

.sidebar_item {
	padding: 30px;
	background: #1D2027;
	margin-bottom: 25px;
}

.sidebar_item h3 {
	font-size: 20px;
	text-transform: capitalize;
	padding-left: 15px;
	position: relative;
	margin-bottom: 20px;
}

.sidebar_item h3::after {
	position: absolute;
	content: "";
	background: #9BB70D;
	width: 2px;
	height: 86%;
	top: 7%;
	left: 0;
}

.wsus__blog_serch form {
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}

.wsus__blog_serch form input {
	background: #000;
	border-radius: 0;
	color: #fff;
}

.wsus__blog_serch form button {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0;
	padding: 18.3px 25px;
}

.wsus__blog_categori ul li a {
	font-size: 16px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	border: 1px solid #5E5B5B;
	margin-bottom: 10px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
	border-radius: 3px;
}

.wsus__blog_categori ul li a:hover {
	color: #9BB70D;
	border-color: #9BB70D;
}




.wss__sedebar_blog_item {}

.wss__sedebar_blog_item li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #5E5B5B;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.wss__sedebar_blog_item li:last-child {
	margin: 0;
	padding: 0;
	border: 0;
}

.wss__sedebar_blog_item li img {
	width: 100px !important;
	height: 100px !important;
	margin-right: 20px;
}

.wss__sedebar_blog_item .text {}

.wss__sedebar_blog_item .text a {
	font-size: 15px;
	color: #fff;
	margin-bottom: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.wss__sedebar_blog_item .text p {
	color: rgba(233, 238, 240, 0.6);
	font-size: 14px;
}

.wss__sedebar_blog_item .text p i {
	color: #9BB70D;
	margin-right: 5px;
}




.wsus__sidebar_gallery {
	width: 100%;
	height: 90px;
	position: relative;
	margin-bottom: 20px;
}

.wsus__sidebar_gallery .gal_img_overlay {
	background: rgba(0, 0, 0, 0.622);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #9BB70D;
	opacity: 0;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__sidebar_gallery:hover .gal_img_overlay {
	opacity: 1;
}

.wsus__blog_tags {
	background: none;
	padding: 0;
}

.wsus__blog_tags ul {}

.wsus__blog_tags ul li {}

.wsus__blog_tags ul li a {
	background: #1D2027;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
	width: 132px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.wsus__blog_tags ul li:nth-child(3) a,
.wsus__blog_tags ul li:nth-child(6) a,
.wsus__blog_tags ul li:nth-child(9) a,
.wsus__blog_tags ul li:nth-child(13) a {
	margin-right: 0;
}

.wsus__blog_tags ul li a:hover {
	background: #9BB70D;
}

.wsus__sidebar_message {}

.wsus__sidebar_message form {}

.wsus__sidebar_message .wsus__single_input {
	position: relative;
	margin-bottom: 20px;
}

.wsus__sidebar_message input,
.wsus__sidebar_message textarea {
	background: #000;
	border-radius: 3px;
	padding: 17px 20px 17px 40px;
	font-size: 15px;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.wsus__sidebar_message span {
	display: inline-block;
	position: absolute;
	top: 17px;
	left: 15px;
	color: #9BB70D;
}

.wsus__sidebar_message button {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

/* =================================
    BLOG LIST END
================================= */



/* =================================
    BLOG DETAILS START
================================= */
.wsus__blog_det_img,
.wsus__service_det_img {
	height: 520px;
}

.wsus__blog_det_text .top_icon {
	margin: 22px 0px 10px 0px;
}

.wsus__blog_det_text .top_icon li {
	text-transform: capitalize;
	font-size: 16px;
	color: #C6C7C9;
	margin-right: 25px;
}

.wsus__blog_det_text .top_icon li i {
	color: #9BB70D;
	margin-right: 5px;
}

.wsus__blog_det_text .title {
	font-size: 30px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
	border-bottom: 1px solid #59595963;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.wsus__blog_det_text p {
	margin-bottom: 25px;
}

.wsus__blog_det_quot {
	background: #1D2027;
	padding: 30px 30px 30px 90px;
	position: relative;
	margin: 55px 0px;
}

.wsus__blog_det_quot span {
	font-size: 40px;
	display: block;
	position: absolute;
	top: 25px;
	left: 35px;
}

.wsus__blog_det_quot p {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
}

.wsus__blog_det_center_img {
	height: 410px;
	padding-top: 5px;
	padding-bottom: 25px;
}

.wsus__blog_det_share {
	border: 1px solid #E0E0E0;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.wsus__blog_det_share span {
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
}

.wsus__blog_det_share_tag ul li {
	text-transform: capitalize;
	margin-left: 10px;
	font-size: 15px;
}

.wsus__blog_det_share_icon ul li a {
	color: #fff;
	margin-left: 15px;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__blog_det_share_icon ul li a:hover {
	color: #9BB70D;
}

.wsus__blog_comment_area,
.wsus__blog_comment_post {
	margin-top: 55px;
}

.wsus__blog_comment_area h2,
.wsus__blog_comment_post h2 {
	font-size: 32px;
	font-weight: 700;
	text-transform: capitalize;
}

.wsus__blog_comment_area h2 span {
	font-size: 32px;
	font-weight: 700;
}

.wsus__single_comment {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}

.wsus__single_comment img {
	width: 65px !important;
	height: 65px !important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.wsus__single_comment .text {
	width: 90%;
}

.wsus__single_comment .text h4 {
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
}

.wsus__single_comment .text h4 a {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin-left: 15px;
	text-transform: capitalize;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__single_comment .text h4 a:hover {
	color: #9BB70D;
}

.wsus__single_comment .text h5 {
	font-size: 14px;
	color: #828282;
	margin: 13px 0px 10px 0px;
}

.wsus__single_comment .text h5 span {
	color: #9BB70D;
	margin-right: 5px;
}

.wsus__single_comment .text p {
	margin: 0;
}

.wsus__single_comment.comment_replay {
	width: 100%;
}

.wsus__blog_comment_post h2 {
	border-bottom: 1px solid #747272;
	padding-bottom: 15px;
	margin-bottom: 23px;
}

.wsus__blog_comment_post input,
.wsus__blog_comment_post textarea {
	background: none;
	border: 1px solid #747272;
	border-radius: 0;
	margin-bottom: 25px;
}

.wsus__blog_comment_post button {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

/* =================================
    BLOG DETAILS END
================================= */





/* =================================
    CHECKOUT START
================================= */
.wsus__checkout {}

.wsus__checkout_form {}

.wsus__checkout_form h2 {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 700;
}

.wsus__checkout_form label {
	font-size: 16px;
	margin-bottom: 5px;
}

.wsus__checkout_form input {
	background: none;
	border-radius: 0;
	border: 1px solid #E0E0E0;
	color: #fff;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.wsus__checkout_form .form-check input {
	padding: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.wsus__checkout_form .form-check-input:checked {
	background-color: #9BB70D;
	border-color: #9BB70D;
}

.wsus__checkout_form .form-check-input:focus {
	border-color: #9BB70D;
	box-shadow: none;
}

.wsus__checkout_form .form-check label {
	font-size: 14px;
}

.wsus__checkout_form a {
	border: 1px solid #E0E0E0;
	width: 100%;
	text-align: center;
	padding: 16px;
	font-size: 16px;
	color: #fff;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__checkout_form a span {
	display: inline-block;
}

.wsus__checkout_form a:hover {
	background: #9BB70D;
	border-color: #9BB70D;
}

.wsus__select_area {
	margin-bottom: 20px;
}

.wsus__select_area .select2-container {
	width: 100% !important;
	height: 100% !important;
}

.select2-container--default .select2-selection--single {
	background: none !important;
	border: 1px solid #E0E0E0;
	border-radius: 0;
	height: 55px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #fff;
	text-transform: capitalize;
	line-height: 50px;
	padding-left: 18px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 26px;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #9BB70D;
	color: #fff !important;
}

.select2-results__option {
	color: #000 !important;
	text-transform: capitalize !important;
}

.wsus__check_sidebar {
	border: 1px solid #E0E0E0;
	padding: 20px;
}

.wsus__check_item_single {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #B6B6B6;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.wsus__check_item_single img {
	width: 75px !important;
	height: 75px !important;
}

.wsus__check_item_text {
	width: 77%;
}

.wsus__check_item_text h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}

.wsus__check_item_text p {
	font-size: 14px;
}

.wsus__check_item_text span {
	font-size: 14px;
}

.wsus__check_sidebar ul {
	margin-top: 25px;
	margin-bottom: 25px;
}

.wsus__check_sidebar ul li {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	margin-bottom: 10px;
}

.wsus__check_sidebar ul li:last-child {
	border-top: 1px solid #E0E0E0;
	padding-top: 10px;
}

.wsus__check_sidebar ul li:last-child span {
	font-weight: 600;
}

.wsus__check_sidebar .common_btn {
	text-transform: none;
	font-weight: 400;
	width: 100%;
	text-align: center;
	padding: 15px;
	font-size: 16px;
}

.wsus__check_sidebar .common_btn i {
	margin-left: 10px;
}

/* =================================
    CHECKOUT END
================================= */











/* =================================
    404 START
================================= */
.wsus__404 {}

.wsus__404_text {
	height: 550px;
	padding-top: 103px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
}

.wsus__404_text h2 {
	color: #9BB70D;
	font-size: 100px;
	font-weight: 900;
	margin-bottom: 20px;
}

.wsus__404_text h4 {
	font-size: 33px;
	font-weight: 700;
}

.wsus__404_text p {
	font-size: 18px;
	width: 80%;
	margin-top: 15px;
	margin-bottom: 25px;
}

/* =================================
    404 END
================================= */


/* =================================
    TERMS AND CONDITION START
================================= */
.wsus__terms_con_text h2 {
	font-size: 40px;
	font-weight: 700;
}

.wsus__terms_con_text h6 {
	font-size: 22px;
	font-weight: 700;
	margin-top: 25px;
}

.wsus__terms_con_text p {
	margin-top: 30px;
}

.wsus__terms_con_text ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

.wsus__terms_con_text ul li .common_btn {
	padding: 20px 70px;
}

.wsus__terms_con_text ul li:last-child a {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	border-bottom: 1px solid #fff;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.wsus__terms_con_text ul li:last-child a:hover {
	color: #9BB70D;
	border-color: #9BB70D;
}

/* =================================
    TERMS AND CONDITION END
================================= */


/* =================================
    PRIVACY START
================================= */
.privacy_text p {
	margin-top: 35px;
}

.privacy_text ul li {
	margin-top: 15px;
	padding-left: 35px;
	position: relative;
}

.privacy_text ul li::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-style: normal;
	position: absolute;
	content: "\f00c";
	top: 1px;
	left: 0;
	color: #fff;
	font-size: 14px;
	border: none;
}

.privacy_text h6 {
	margin-top: 30px;
}

/* =================================
    PRIVACY END
================================= */





/* =================================
    CART VIEW START
================================= */
.wsus__cart_view {}

.wsus__cart_item {}

.wsus__cart_item table {
	margin: 0;
}

.wsus__cart_item table tr {
	display: flex;
	justify-content: space-between;
}

.wsus__cart_item table tr th {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	padding: 0;
	border: none;
	padding-bottom: 20px;
}

.wsus__cart_item table tr td {
	border: none;
	display: flex;
	align-items: center;
	margin-top: 30px;
	padding: 0;
	justify-content: center;
}

.wsus__cart_item .categories {
	width: 31%;
	justify-content: start;
}

.wsus__cart_item .price,
.wsus__cart_item .quentity,
.wsus__cart_item .total {
	width: 23%;
	text-align: center;
}

.wsus__cart_item .categories .img {
	width: 80px;
	height: 80px;
	position: relative;
}

.wsus__cart_item .categories .img a {
	width: 22px;
	height: 22px;
	background: #9BB70D;
	color: #000;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
	border-radius: 50%;
	position: absolute;
	top: -5px;
	right: -5px;
}

.wsus__cart_item .categories .img a:hover {
	color: #fff;
}

.wsus__cart_item .text {
	margin-left: 15px;
}

.wsus__cart_item h4 {
	color: #fff;
	text-transform: capitalize;
	font-size: 16px;
	margin-bottom: 3px;
}

.wsus__cart_item p {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
}

.wsus__cart_item h5 {
	color: #fff;
	font-size: 18px;
	margin: 0;
}

.cart_sedebar {}

.cart_sedebar h4 {
	text-transform: capitalize;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 35px;
}

.cart_sedebar ul {}

.cart_sedebar ul li {
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
	padding-bottom: 5px;
	margin-bottom: 25px;
}

.cart_sedebar ul li span {
	font-size: 18px;
}

.cart_sedebar .form-check {
	margin-bottom: 25px;
}

.cart_sedebar .form-check input {
	padding: 0;
}

.cart_sedebar .form-check-input:checked {
	background-color: #9BB70D;
	border-color: #9BB70D;
}

.cart_sedebar .form-check-input:focus {
	border-color: #9BB70D;
	box-shadow: none;
}

.cart_sedebar .form-check label {
	font-size: 14px;
}

.cart_sedebar a {
	width: 100%;
	text-align: center;
	padding: 15px 0;
	font-size: 15px;
	font-weight: 400;
}





/* =================================
    CART VIEW END
================================= */











/* =================================
    START
================================= */

/* =================================
    END
================================= */